{% extends '@AppBundle/Resources/views/default/index.html.twig' %}

{% block body %}

    {% block header %}{{ parent() }}{% endblock %}
    <div class="section__title text-center">
        <h1 class="title__line">Request Details</h1>
    </div>
    </br> </br>

    <table>
        <tbody>
            <tr>
                <th>Titre</th>
                <td>{{ demande.nomDemande }}</td>
            </tr>
            <tr>
                <th>Statut</th>
                <td>{{ demande.statut }}</td>
            </tr>
            <tr>
                <th>Reponse</th>
                <td>{{ demande.reponse }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ demande.description }}</td>
            </tr>

        </tbody>
    </table>
<div id="mc_embed_signup_scroll" class="htc__news__inner">
    <div class="choose__inner">
    <ul>
        <li>
            <h4> <a href="{{ path('demande_index') }}">Request list</a></h4>
        </li>
        <li>
            <h4> <a href="{{ path('demande_edit', { 'idDemande': demande.idDemande }) }}">Edit</a></h4>
        </li>
        <li>
            {{ form_start(delete_form) }}
            <div id="mc_embed_signup_scroll" class="htc__news__inner">
                <div class="slider__btn">
                <input class="dcare__btn" type="submit" value="Delete">
                </div>
            </div>
            {{ form_end(delete_form) }}
        </li>
    </ul>
    </div>
</div>
    {% block footer %}{{ parent() }}{% endblock %}
{% endblock %}
