{% extends '@AppBundle/Resources/views/default/index.html.twig' %}
{% block body %}
{% block header %}{{ parent() }}{% endblock %}

    <!-- //Header -->
    <!-- Start Bradcaump area -->

    <!-- End Bradcaump area -->
    <!-- Start Choose Us Area -->
    <section class="dcare__choose__us__area section-padding--lg bg--white">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-sm-12 col-md-12">
                    <div class="section__title text-center">
                        <h2 class="title__line">Little About Us</h2>
                        <p>thank you for entrusting our experience in this field for 40 years. we are always looking to develop the child.</p>
                    </div>
                </div>
            </div>
            <div class="row mt--40">
                <!-- Start Single Choose Option -->
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="dacre__choose__option">
                        <!-- Start Single Choose -->
                        <div class="choose">
                            <div class="choose__inner">
                                <h4><a>Language Lesson</a></h4>
                                <p>aincididunt ut labore et dolore magnaincidunt ut labore et dolore magnam aliquam qua</p>
                            </div>
                            <div class="choose__icon">
                                <img src="{{ asset('images/choose/icon/1.png') }}" alt="choose icon">
                            </div>
                        </div>
                        <!-- End Single Choose -->
                        <!-- Start Single Choose -->
                        <div class="choose">
                            <div class="choose__inner">
                                <h4><a>Meals Provided</a></h4>
                                <p>aincididunt ut labore et dolore magnaincidunt ut labore et dolore magnam aliquam qua</p>
                            </div>
                            <div class="choose__icon">
                                <img src="{{ asset('images/choose/icon/2.png') }}" alt="choose icon">
                            </div>
                        </div>
                        <!-- End Single Choose -->
                        <!-- Start Single Choose -->
                        <div class="choose">
                            <div class="choose__inner">
                                <h4><a>Transportation</a></h4>
                                <p>aincididunt ut labore et dolore magnaincidunt ut labore et dolore magnam aliquam qua</p>
                            </div>
                            <div class="choose__icon">
                                <img src="{{ asset('images/choose/icon/3.png') }}" alt="choose icon">
                            </div>
                        </div>
                        <!-- End Single Choose -->
                    </div>
                </div>
                <!-- End Single Choose Option -->
                <!-- Start Single Choose Option -->
                <div class="col-lg-4 col-md-6 col-sm-12 d-block d-lg-block d-md-none">
                    <div class="dacre__choose__option">
                        <div class="choose__big__img">
                            <img src="{{ asset('images/choose/big-img/middle.png') }}" alt="choose images">
                        </div>
                    </div>
                </div>
                <!-- End Single Choose Option -->
                <!-- Start Single Choose Option -->
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="dacre__choose__option text__align--left">
                        <!-- Start Single Choose -->
                        <div class="choose">
                            <div class="choose__icon">
                                <img src="{{ asset('images/choose/icon/4.png') }}" alt="choose icon">
                            </div>
                            <div class="choose__inner">
                                <h4><a>Professional Teacher</a></h4>
                                <p>aincididunt ut labore et dolore magnaincidunt ut labore et dolore magnam aliquam qua</p>
                            </div>
                        </div>
                        <!-- End Single Choose -->
                        <!-- Start Single Choose -->
                        <div class="choose">
                            <div class="choose__icon">
                                <img src="{{ asset('images/choose/icon/5.png') }}" alt="choose icon">
                            </div>
                            <div class="choose__inner">
                                <h4><a>Smart Education</a></h4>
                                <p>aincididunt ut labore et dolore magnaincidunt ut labore et dolore magnam aliquam qua</p>
                            </div>
                        </div>
                        <!-- End Single Choose -->
                        <!-- Start Single Choose -->
                        <div class="choose">
                            <div class="choose__icon">
                                <img src="{{ asset('images/choose/icon/6.png') }}" alt="choose icon">
                            </div>
                            <div class="choose__inner">
                                <h4><a>Toys & Games</a></h4>
                                <p>aincididunt ut labore et dolore magnaincidunt ut labore et dolore magnam aliquam qua</p>
                            </div>
                        </div>
                        <!-- End Single Choose -->
                    </div>
                </div>
                <!-- End Single Choose Option -->
            </div>
        </div>
    </section>
    <!-- End Choose Us Area -->
    <!-- Start Welcame Area -->


    <section class="dcare__team__area pb--150 bg--white">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-sm-12 col-md-12">
                    <div class="section__title text-center">
                        <h2 class="title__line">Our Teachers</h2>
                        <p>Our professional team at your service</p>
                    </div>
                </div>
            </div>
            <div class="row mt--40">
                <!-- Start Single Team -->
                <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                    <div class="team">
                        <div class="team__thumb">
                            <a>
                                <img src="{{ asset('images/team/dessin.png') }}" alt="team images">
                            </a>

                        </div>
                        <div class="team__details">
                            <div class="team__info">
                                <h6><a>Hanchica Merica</a></h6>
                                <span>Drawing Instructor</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Team -->
                <!-- Start Single Team -->
                <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                    <div class="team">
                        <div class="team__thumb">
                            <a>
                                <img src="{{ asset('images/team/music.png') }}" alt="team images">
                            </a>

                        </div>
                        <div class="team__details">
                            <div class="team__info">
                                <h6><a >AngelicaHmpton</a></h6>
                                <span>Music Instructor</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Team -->
                <!-- Start Single Team -->
                <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                    <div class="team">
                        <div class="team__thumb">
                            <a>
                                <img src="{{ asset('images/team/sport.png') }}" alt="team images">
                            </a>

                        </div>
                        <div class="team__details">
                            <div class="team__info">
                                <h6><a>Criss Grag Hole</a></h6>
                                <span>Health Instructor</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Team -->
            </div>
        </div>
    </section>
    <!-- End Team Area -->
    <!-- Start Counter Up Area -->
    <section class="dcare__counterup__area section-padding--lg ">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12">
                    <div class="counterup__wrapper d-flex flex-wrap flex-lg-nowrap flex-md-nowrap justify-content-between">
                        <!-- Start Single Fact -->
                        <div class="funfact">
                            <div class="fact__icon">
                                <img src="{{ asset('images/funfact/1.png') }}" alt="flat icon">
                            </div>
                            <div class="fact__count ">
                                <span class="count">195</span>
                            </div>
                            <div class="fact__title">
                                <h2>Student</h2>
                            </div>
                        </div>
                        <!-- End Single Fact -->
                        <!-- Start Single Fact -->
                        <div class="funfact">
                            <div class="fact__icon">
                                <img src="{{ asset('images/funfact/2.png')}}" alt="flat icon">
                            </div>
                            <div class="fact__count ">
                                <span class="count color--2">20</span>
                            </div>
                            <div class="fact__title">
                                <h2>classroom</h2>
                            </div>
                        </div>
                        <!-- End Single Fact -->
                        <!-- Start Single Fact -->
                        <div class="funfact">
                            <div class="fact__icon">
                                <img src="{{ asset('images/funfact/3.png') }}" alt="flat icon">
                            </div>
                            <div class="fact__count ">
                                <span class="count color--3">40</span>
                            </div>
                            <div class="fact__title">
                                <h2>Teacher</h2>
                            </div>
                        </div>
                        <!-- End Single Fact -->
                        <!-- Start Single Fact -->
                        <div class="funfact">
                            <div class="fact__icon">
                                <img src="{{ asset('images/funfact/4.png') }}" alt="flat icon">
                            </div>
                            <div class="fact__count">
                                <span class="count color--4">6</span>
                            </div>
                            <div class="fact__title">
                                <h2>School Bus</h2>
                            </div>
                        </div>
                        <!-- End Single Fact -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Counter Up Area -->
    <!-- Start Subscribe Area -->

    <footer id="footer" class="footer-area">
        <div class="footer__wrapper poss-relative ftr__btm__image section-padding--lg bg--white">
        </div>
        <div class="copyright">
            <div class="container">
                <div class="row align-items-center copyright__wrapper">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="coppy__right__inner">
                            <p>Copyright <i class="fa fa-copyright"></i> 2020 All rights reserved. </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </footer>
</div><!-- //Main wrapper -->

{% endblock %}



